<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sartu aplikazioan</h1>
    <p>Hint: admin-admin</p>

    <form action="/login" method="post" id="formu">
        Username:
        <input type="text" name="username" id="username" required> <br>
        Password:
        <input type="text" name="password" id="password" required> <br>
        <input type="submit" id="sub" value="Login">
    </form>

    <script>
        let button = document.querySelector("#sub");
        document.querySelector("#formu").addEventListener("submit", (e) => {
            e.preventDefault();
            e.target.reportValidity();
            button.value = "Loading...";
            fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    username: document.querySelector("#username").value,
                    password: document.querySelector("#password").value
                })
            }).then(res => res.json())
            .then(res => {
                if (res.message == "Login successful") {
                    button.value = "Login successful";
                    button.style.backgroundColor = "DarkSeaGreen";
                    window.location.href = res.path;
                } else if (res.message == "Login failed") {
                    button.value = "Username or password incorrect";
                    button.style.backgroundColor = "LightSalmon";
                } else {
                    button.value = "An error has ocurred";
                    button.style.backgroundColor = "LightSalmon";
                }
            })
        });
    </script>
  </body>
</html>
